# Python
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Jupyter
.ipynb_checkpoints/

# Environment variables / secrets
.env
.env*

# OS / editor files
.DS_Store
Thumbs.db
.vscode/

# Bytecode
*.so

# Docker
*.tar
__docker_build__/
docker-compose.local.yml

# VS Code
.vscode/
.history/

# Models (optional: keep only if you want them versioned)
*.h5
*.pb
*.keras
