:root {
    --canvas-width: 18px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: 20px solid black;
    min-height: 100vh;
    margin: 0;
    background-color: #f6f6f8;
    color: #111;
}

.card {
    outline: 20px solid black;
    background: white;
    padding: 18px;
    border-radius: 18px;
    box-shadow: 0px 6px 18px rgba(20, 20, 40, 0.5);
    width: max-content
}

#draw-canvas {
    width: var(--canvas-width);
}